In [ ]:
import pandas as pd

In [1]:
df_raw = pd.read_excel(
                        '../product_prices.xlsx',
                        sheet_name='product_prices'
)

df_raw.head()

,Name,Goods types,Measurement unit,Group ID,Product types,Value,Date,Unnamed: 7
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3,NaN
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2,NaN
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12,NaN
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2,NaN
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3,NaN

In [2]:
df_raw_csv = pd.read_csv(
                    '../product_prices.csv',
                    sep=';',
                    decimal='.'
)

df_raw_csv.head()

,Name,Goods types,Measurement unit,Group ID,Product types,Value,Date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [3]:
df_raw_csv.shape

(149940, 7)

In [4]:
df_raw_csv.shape[0]

149940

In [5]:
df_raw_csv.shape[1]

7

In [6]:
df_raw_csv.head(5)

,Name,Goods types,Measurement unit,Group ID,Product types,Value,Date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3

In [7]:
df_raw_csv.tail(10)

,Name,Goods types,Measurement unit,Group ID,Product types,Value,Date
149930,WARMIA-MASURIA,NaN,PLN,4,"Poznan wheat flour, bagged - per 1kg",0.99,2010-10
149931,POMERANIA,NaN,PLN,2,pork belly cooked - per 1kg,14.48,1999-10
149932,MASOVIA,NaN,PLN,2,"salted herring, non-dressed - per 1kg",0.00,2001-3
149933,SILESIA,NaN,PLN,2,smoked bacon with ribs - per 1kg,15.95,2015-9
149934,SILESIA,NaN,PLN,2,barley groats sausage - per 1kg,4.50,2004-8
149935,KUYAVIA-POMERANIA,NaN,PLN,2,pork meat (raw bacon) - per 1kg,12.15,2016-11
149936,ŁÓDŹ,"beet sugar white, bagged - per 1kg",PLN,3,NaN,0.00,2012-5
149937,LESSER POLAND,NaN,PLN,4,plain mixed bread (wheat-rye) - per 1kg,3.05,2008-6
149938,WARMIA-MASURIA,NaN,PLN,2,boneless beef (sirloin) - per 1kg,11.87,2000-11
149939,MASOVIA,NaN,PLN,4,Masurian barley groats - per 1kg,0.16,2005-10

In [8]:
df_raw_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149940 entries, 0 to 149939
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Name              149940 non-null  object
 1   Goods types       34272 non-null   object
 2   Measurement unit  149940 non-null  object
 3   Group ID          149940 non-null  int64
 4   Product types     115668 non-null  object
 5   Value             137088 non-null  float64
 6   Date              149940 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 8.0+ MB

In [9]:
df_raw_csv.columns

Index(['Name', 'Goods types', 'Measurement unit', 'Group ID', 'Product types',
       'Value', 'Date'],
      dtype='object')

In [ ]:
df_raw_csv['Name']

In [ ]:
df_raw_csv[['Name', 'Value', 'Date']]

In [ ]:
df_raw_csv.loc[:, 'Value']

In [ ]:
df_raw_csv.loc[:, ['Value', 'Name']]

In [14]:
col = df_raw_csv['Value'].head() 
type(col)

pandas.core.series.Series

In [15]:
col

0    21.37
1      NaN
2     3.55
3     6.14
4     5.63
Name: Value, dtype: float64

In [16]:
col + 1

0    22.37
1      NaN
2     4.55
3     7.14
4     6.63
Name: Value, dtype: float64

In [17]:
col * col

0    456.6769
1         NaN
2     12.6025
3     37.6996
4     31.6969
Name: Value, dtype: float64

In [18]:
col_example = pd.Series(
    range(len(col))
)
col_example

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [19]:
col + col_example

0    21.37
1      NaN
2     5.55
3     9.14
4     9.63
dtype: float64

In [20]:
col_example2 = pd.Series(
    range(len(col)-1)
)
col_example2

0    0
1    1
2    2
3    3
dtype: int64

In [21]:
col + col_example2

0    21.37
1      NaN
2     5.55
3     9.14
4      NaN
dtype: float64

In [22]:
df_raw_csv['Name'].unique()

array(['SUBCARPATHIA', 'ŁÓDŹ', 'KUYAVIA-POMERANIA', 'LOWER SILESIA',
       'WARMIA-MASURIA', 'HOLY CROSS', 'WEST POMERANIA', 'POLAND',
       'PODLASKIE', 'GREATER POLAND', 'POMERANIA', 'LESSER POLAND',
       'SILESIA', 'MASOVIA', 'LUBLIN', 'LUBUSZ', 'OPOLE'], dtype=object)

In [23]:
df_raw_csv['Value'].mean()

6.615226740294512

In [24]:
df_raw_csv['Value'].std()

34.112858158207565

In [25]:
df_raw_csv['Value'].median()

3.09

In [26]:
df_raw_csv['Value'].quantile([0, 0.1, 0.5, 0.75, 1])

0.00       0.00
0.10       0.00
0.50       3.09
0.75      10.92
1.00    3000.00
Name: Value, dtype: float64

In [27]:
df_raw_csv['Value'].describe()

count    137088.000000
mean          6.615227
std          34.112858
min           0.000000
25%           0.000000
50%           3.090000
75%          10.920000
max        3000.000000
Name: Value, dtype: float64

In [29]:
columns_list = list(df_raw.columns)

In [31]:
columns_list

['Name',
 'Goods types',
 'Measurement unit',
 'Group ID',
 'Product types',
 'Value',
 'Date',
 'Unnamed: 7']

In [34]:
df_raw.iloc[0,:]

Name                             SUBCARPATHIA
Goods types                               NaN
Measurement unit                          PLN
Group ID                                    2
Product types       pork ham cooked - per 1kg
Value                                   21.37
Date                                   2013-3
Unnamed: 7                                NaN
Name: 0, dtype: object

In [43]:
df_raw['Value'] = pd.to_numeric(df_raw['Value'], errors='coerce')

In [48]:
pd.pivot_table(df_raw, index='Name', values='Value', aggfunc='mean').sort_values(by='Value', ascending=False)

                      Value
Name
POLAND             9.043763
GREATER POLAND     8.831270
POMERANIA          8.259752
WEST POMERANIA     8.115317
MASOVIA            8.073109
WARMIA-MASURIA     7.810504
SILESIA            7.733026
KUYAVIA-POMERANIA  7.692382
LESSER POLAND      7.655327
LUBLIN             7.291195
OPOLE              7.256413
PODLASKIE          7.174241
LOWER SILESIA      7.115658
LUBUSZ             7.038792
ŁÓDŹ               6.932335
HOLY CROSS         6.457875
SUBCARPATHIA       6.402578