# Exercise
Read the file: `product_prices.csv` (separator ';', decimal separator '.') and do the following exercises:

1. Using the `columns` method modify the names of columns to be: `'province', 'product_types', 'currency', 'group_id', 'product_line', 'value', 'date'`<br>
1. Determine the following positional statistics: mean, standard deviation, percentiles: 0, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100%.<br>Do the exercise **in two versions**: using dedicated functions and `describe`.
1. Do you agree with this way of generating these values? Why?

In [12]:
import pandas as pd

In [16]:
# Reading the csv file
df_raw = pd.read_csv(
                    r'C:\Users\Němeček\CodersLab-Course-Python-Data-Analysis\4_Pandas\01_Data\product_prices.csv',
                    sep=';',
                    decimal='.'
    
)

In [24]:
# Basic information
df_raw.info() # summary table

df_raw.head(10) # data preview

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149940 entries, 0 to 149939
Data columns (total 7 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Name              149940 non-null  object
 1   Goods types       34272 non-null   object
 2   Measurement unit  149940 non-null  object
 3   Group ID          149940 non-null  int64
 4   Product types     115668 non-null  object
 5   Value             137088 non-null  float64
 6   Date              149940 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 8.0+ MB

,Name,Goods types,Measurement unit,Group ID,Product types,Value,Date
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-3
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-2
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-2
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-3
5,HOLY CROSS,whole pickled cucumbers 0.9l - per 1pc.,PLN,1,NaN,0.28,2010-4
6,WEST POMERANIA,fresh chichen egges - per 666pcs.,PLN,3,NaN,0.00,2004-12
7,POLAND,NaN,PLN,2,pork belly cooked - per 1kg,19.62,2017-3
8,KUYAVIA-POMERANIA,NaN,PLN,2,pork with bone (center-cut pork chop) - per 1kg,11.19,1999-4
9,PODLASKIE,NaN,PLN,4,plain mixed bread (wheat-rye) - per 1kg,3.86,2017-7

In [25]:
# change the column names
df_raw.columns = ['province', 'product_types', 'currency', 'group_id', 'product_line', 'value', 'date']

In [28]:
# checking column name changes
df_raw.columns

Index(['province', 'product_types', 'currency', 'group_id', 'product_line',
       'value', 'date'],
      dtype='object')

In [34]:
# statistics - mean, standard deviation, percentiles: 0, 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100%.
# value - mean
df_raw['value'].mean()

6.615226740294512

In [35]:
# value - standard deviation
df_raw['value'].std()

34.112858158207565

In [37]:
# value - percentiles
df_raw['value'].quantile([0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1])

0.0       0.00
0.1       0.00
0.2       0.00
0.3       0.28
0.4       1.55
0.5       3.09
0.6       5.75
0.7       9.16
0.8      12.73
0.9      17.19
1.0    3000.00
Name: value, dtype: float64

In [39]:
# value - statistics by describe method
df_raw['value'].describe([0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1])

count    137088.000000
mean          6.615227
std          34.112858
min           0.000000
0%            0.000000
10%           0.000000
20%           0.000000
30%           0.280000
40%           1.550000
50%           3.090000
60%           5.750000
70%           9.160000
80%          12.730000
90%          17.190000
100%       3000.000000
max        3000.000000
Name: value, dtype: float64