# Duplicates

Using the **product_prices_renamed.csv** files:

1. check how many rows are duplicated,
1. using `duplicated` check which rows were doubled.
1. using `drop_duplicates`, remove all duplicates from the output dataset (we assume that a row with a duplicate is an error and needs to be removed) - write the result to a new DataFrame.

### Hints:

#### Subsection 2:
To determine, the number of duplicate rows use the source data and the results from subsection 1.

#### Subsection 3:

1. first use `duplicated`, to find duplicated rows,
1. use `loc` to separate them from the output set,
1. use `drop_duplicates` to get only those rows that are duplicated.

In [4]:
import pandas as pd

In [6]:
data = pd.read_csv('../../01_Data/product_prices_renamed.csv', sep=';', decimal='.')

In [10]:
data.shape

(149940, 7)

1) check how many rows are duplicated

In [13]:
is_duplicated = data.duplicated()

In [25]:
is_duplicated[is_duplicated == True].shape

(21420,)

2) using duplicated check which rows were doubled.

In [41]:
data[is_duplicated]

,province,product_types,currency,product_group_id,product_line,value,date
545,SILESIA,NaN,PLN,4,bread - per 1kg,NaN,2013-8
1913,LUBUSZ,NaN,PLN,4,Masurian barley groats - per 1kg,0.00,2007-10
2356,POLAND,NaN,PLN,4,Masurian barley groats - per 1kg,1.39,2001-2
2528,WARMIA-MASURIA,NaN,PLN,4,plain mixed bread (wheat-rye) - per 1kg,3.93,2015-9
2662,HOLY CROSS,NaN,PLN,4,"Poznan wheat flour, bagged - per 1kg",0.59,2001-6
...,...,...,...,...,...,...,...
149925,GREATER POLAND,NaN,PLN,4,buckwheat groats roasted whole - per 1kg,0.00,2008-12
149926,POLAND,NaN,PLN,4,buckwheat groats roasted whole - per 1kg,5.10,2016-5
149930,WARMIA-MASURIA,NaN,PLN,4,"Poznan wheat flour, bagged - per 1kg",0.99,2010-10
149937,LESSER POLAND,NaN,PLN,4,plain mixed bread (wheat-rye) - per 1kg,3.05,2008-6
149939,MASOVIA,NaN,PLN,4,Masurian barley groats - per 1kg,0.16,2005-10

3) using drop_duplicates, remove all duplicates from the output dataset (we assume that a row with a duplicate is an error and needs to be removed) - write the result to a new DataFrame.

In [27]:
data_without_duplicates = data.drop_duplicates(keep = 'first')

In [29]:
data_without_duplicates.shape

(128520, 7)