# File conversion

Using `openpyxl` convert the **product_prices_cleaned.csv** file to an Excel file.

In [1]:
import pandas as pd
from openpyxl import Workbook

In [2]:
data = pd.read_csv(
    '../../01_Data/product_prices_cleaned.csv',
    sep=',',
    encoding='UTF-8',
    decimal='.'
)

In [3]:
data.head(5)

,province,product_types,currency,product_group_id,product_line,value,date,product,year,month,quarter
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-03-01,pork ham cooked - per 1kg,2013,3,1
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-02-01,bread - per 1kg,2018,2,1
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12-01,barley groats sausage - per 1kg,2019,12,4
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-02-01,dressed chickens - per 1kg,2019,2,1
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-03-01,Italian head cheese - per 1kg,2002,3,1

In [6]:
workbook = Workbook()
sheet = workbook.active
sheet.title = "Product Prices"

# Write the column headers
for col_idx, column in enumerate(data.columns, start=1):
    sheet.cell(row=1, column=col_idx, value=column)

# Write the data to the Excel sheet
for row_idx, row in enumerate(data.itertuples(index=False), start=2):
    for col_idx, value in enumerate(row, start=1):
        sheet.cell(row=row_idx, column=col_idx, value=value)

In [7]:
# Save the workbook as an Excel file
excel_file = "product_prices_cleaned.xlsx"
workbook.save(excel_file)

print(f"File has been successfully converted to {excel_file}")

File has been successfully converted to product_prices_cleaned.xlsx