# Grouping data across sheets

Modify the previous exercise so that each product group is in a separate worksheet together with the corresponding `product_group_id`. For example
`product_group_id` 1 should go to the sheet named `1`.

Use the method to create a new workbook:
```
wb.create_sheet(name, index)
```
Where:
- `name` - is the name of the workbook, where we want to save the data (should be a string),
- `index` - is the worksheet position in the workbook.

In [1]:
import pandas as pd
from openpyxl import Workbook

In [10]:
data = pd.read_csv(
  '../../01_Data/product_prices_cleaned.csv',
  sep=',',
  encoding='UTF-8',
  decimal='.'
)

In [11]:
data.head()

,province,product_types,currency,product_group_id,product_line,value,date,product,year,month,quarter
0,SUBCARPATHIA,NaN,PLN,2,pork ham cooked - per 1kg,21.37,2013-03-01,pork ham cooked - per 1kg,2013,3,1
1,ŁÓDŹ,NaN,PLN,4,bread - per 1kg,NaN,2018-02-01,bread - per 1kg,2018,2,1
2,KUYAVIA-POMERANIA,NaN,PLN,2,barley groats sausage - per 1kg,3.55,2019-12-01,barley groats sausage - per 1kg,2019,12,4
3,LOWER SILESIA,NaN,PLN,2,dressed chickens - per 1kg,6.14,2019-02-01,dressed chickens - per 1kg,2019,2,1
4,WARMIA-MASURIA,NaN,PLN,2,Italian head cheese - per 1kg,5.63,2002-03-01,Italian head cheese - per 1kg,2002,3,1

In [12]:
grouped_data = data.groupby("product_group_id")

In [13]:
# Create a new Excel workbook
wb = Workbook()

In [14]:
# Remove the default sheet created by openpyxl
default_sheet = wb.active
wb.remove(default_sheet)

In [15]:
# Add each product group to a separate sheet
for group_id, group_data in grouped_data:
    sheet_name = str(group_id)
    sheet = wb.create_sheet(title=sheet_name)
    
    for col_idx, column in enumerate(group_data.columns, start=1):
        sheet.cell(row=1, column=col_idx, value=column)
    
    for row_idx, row in enumerate(group_data.itertuples(index=False), start=2):
        for col_idx, value in enumerate(row, start=1):
            sheet.cell(row=row_idx, column=col_idx, value=value)

# Save the workbook
excel_file = "grouped_product_data.xlsx"
wb.save(excel_file)