In the file **marks.csv** you will find the data of several students: Name, Surname, Honors, Birth Year, and a list of grades.

Create **one** file `sata.pdf`, where each of the students will be presented on a separate page:

```
[Student/Honors stusent - choose one, based on the "Honors" column] Name - header.
Year of birth - normal text

Marks: - smaller header
Language Arts - 6
Second Language English - 5
...
```

In [14]:
import pandas as pd
from reportlab.platypus import SimpleDocTemplate, Paragraph, Spacer, PageBreak
from reportlab.lib.styles import ParagraphStyle
import reportlab.lib.pagesizes as sizes
import reportlab.lib.enums as positions

In [15]:
file_path = '../02_Advanced elements/marks.csv'

In [16]:
data = pd.read_csv(file_path)

In [17]:
data.head(5)

,Name,Surname,Honors,Birth Year,Language Arts,Second Language English,Second Language German,Maths,Chemistry,Physics,Biology,History,Geography
0,Carol,Neweek,Y,1990,5,6,5,3,4,4,5,5,4
1,Martin,Cheapman,N,1990,3,4,3,6,5,5,3,3,5
2,Charlie,Kovacs,N,1993,5,5,5,4,3,3,4,5,4
3,Agnes,Hale,Y,1993,5,5,4,6,6,5,3,5,4
4,Mary Jane,Tomala,N,1993,4,5,4,6,4,6,4,4,3

In [18]:
data.loc[1]

Name                         Martin
Surname                    Cheapman
Honors                            N
Birth Year                     1990
Language Arts                     3
Second Language English           4
Second Language German            3
Maths                             6
Chemistry                         5
Physics                           5
Biology                           3
History                           3
Geography                         5
Name: 1, dtype: object

In [19]:
# Setting pdf document
doc = SimpleDocTemplate('students_report.pdf', pagesize=sizes.A4, rightMargin=72, leftMargin=72, topMargin=72, bottomMargin=18)

In [20]:
# Styles
title_style = ParagraphStyle(name="Title Style", fontName="Times-Roman", fontSize=18, alignment=positions.TA_CENTER)
header_style = ParagraphStyle(name="Header Style", fontName="Times-Roman", fontSize=16, alignment=positions.TA_LEFT)
paragraph_style = ParagraphStyle(name="Paragraph Style", fontName="Times-Roman", fontSize=12, alignment=positions.TA_LEFT)

In [21]:
# Empty story
story = []

In [22]:
for index, row in data.iterrows():

    honors = "Honors student" if row['Honors'] == 'Y' else "Regular student"
    
    story.append(Paragraph(f"{honors} - {row['Name']} {row['Surname']}", title_style))
    story.append(Spacer(0, 12))
    story.append(Paragraph(f"Year of Birth: {row['Birth Year']}", header_style))
    story.append(Spacer(0, 28))
    
    story.append(Paragraph("Marks:", header_style))
    story.append(Spacer(0, 12))

    subjects = ["Language Arts", "Second Language English", "Second Language German", "Maths", "Chemistry", 
                "Physics", "Biology", "History", "Geography"]
    
    for subject in subjects:
        marks = f"{subject}: {row[subject]}"
        story.append(Paragraph(marks, paragraph_style))
        story.append(Spacer(0, 12))

    story.append(PageBreak())

In [23]:
doc.build(story)