Modify the script from the previous exercise - to generate multiple PDFs based on the data from the `equipment.csv` file. Have the new files named `protocol-1.pdf`, `protocol-2.pdf` etc.

In [9]:
from reportlab.platypus import SimpleDocTemplate, Paragraph, Spacer
from reportlab.lib.styles import ParagraphStyle
import reportlab.lib.pagesizes as sizes
import pandas as pd

In [10]:
df = pd.read_csv('./equipment.csv')

In [11]:
df

,Name,Surname,ID,Item 1,Item 2,Item 3,Item 4
0,Arthur,Newmann,89121234567,Laptop XYZ serial no QWE4567,Keyboard,Mouse,Power Adapter
1,Mary,Kowalski,97111278978,Laptop ABC serial no 56567878,Keyboard,Mouse,Power Adapter
2,Joan,Walters,99010123123,Tablet XXY serial no 34234,Charger,Company car – license plate WA98123,NaN

In [12]:
title_style = ParagraphStyle(name="Title Style", fontName="Times-Roman", fontSize=18, alignment=1)
header_style = ParagraphStyle(name="Header Style", fontName="Times-Roman", fontSize=14, alignment=0)
paragraph_style = ParagraphStyle(name="Paragraph Style", fontName="Times-Roman", fontSize=12)
sub_paragraph_style = ParagraphStyle(name="Sub Paragraph Style", fontName="Times-Roman", fontSize=12, alignment=0)
right_aligned_style = ParagraphStyle(name="Right Align", fontName="Times-Roman", fontSize=12, alignment=2)

In [13]:
CITY = 'Warszawa'
COMPANY_NAME = 'Sample company name'
COMPANY_ADDRESS = 'Company address'
COMPANY_NIP = '9898767654'
COMPANY_REGON = '565434321'

In [14]:
def format_items(row):
    items = []
    for i in range(1, 5):
        item = row.get(f'Item {i}', '')
        if pd.notna(item):
            items.append(item)
    return items

In [15]:
i = 1
for index, row in df.iterrows():
    story = [] 

    current_date = pd.to_datetime('today').strftime('%Y-%m-%d')
    doc = SimpleDocTemplate(f"protocol-{i}.pdf", pagesize=sizes.A4, rightMargin=72, leftMargin=72, topMargin=72, bottomMargin=18)

    # Title section
    story.append(Paragraph(f'{CITY}, {current_date}', title_style))
    story.append(Spacer(1, 24))
    story.append(Paragraph('Employee Equipment Agreement', title_style))
    story.append(Spacer(1, 36))

    # Employer section
    story.append(Paragraph('Employer:', header_style))
    story.append(Paragraph(f"{COMPANY_NAME}", paragraph_style))
    story.append(Paragraph(f"Address: {COMPANY_ADDRESS}", paragraph_style))
    story.append(Paragraph(f"NIP: {COMPANY_NIP}", paragraph_style))
    story.append(Paragraph(f"REGON: {COMPANY_REGON}", paragraph_style))
    story.append(Spacer(1, 24))

    # Employee section
    story.append(Paragraph('Employee:', header_style))
    story.append(Spacer(1, 8))
    story.append(Paragraph(f"Name: {row['Name']} {row['Surname']}", paragraph_style))
    story.append(Paragraph(f"PESEL: {row['ID']}", paragraph_style))
    story.append(Spacer(1, 24))

    # Equipment section
    story.append(Paragraph(f"The following equipment was handed over on {current_date}:", header_style))
    story.append(Spacer(1, 12))

    # Add items
    items = format_items(row)
    for item in items:
        story.append(Paragraph(f"- {item}", sub_paragraph_style))
    
    story.append(Spacer(1, 36))

    # Signature section
    story.append(Spacer(1, 36))
    story.append(Paragraph('................................', right_aligned_style))
    story.append(Paragraph('Date and Employer Signature', right_aligned_style))

    story.append(Spacer(1, 36))
    story.append(Paragraph('................................', right_aligned_style))
    story.append(Paragraph('Date and Employee Signature', right_aligned_style))

    # Build the document
    doc.build(story)
    i += 1