In [1]:
import dash
from dash import dcc, html
from dash.dash_table import DataTable
import plotly.express as px

In [2]:
df_iris = px.data.iris()

In [3]:
df_iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species  species_id
0           5.1          3.5           1.4          0.2  setosa           1
1           4.9          3.0           1.4          0.2  setosa           1
2           4.7          3.2           1.3          0.2  setosa           1
3           4.6          3.1           1.5          0.2  setosa           1
4           5.0          3.6           1.4          0.2  setosa           1

In [4]:
app = dash.Dash(__name__)

# App layout
app.layout = html.Div(children=[
    html.H1("Iris Dataset Sample Table", style={'textAlign': 'center', 'fontSize': 30, 'marginBottom': '20px'}),
    DataTable(
        id='iris-table',
        columns=[{'name': col, 'id': col} for col in df_iris.columns],  # Creating columns
        data=df_iris.head(10).to_dict('records'),  # The first 10 rows of the dataset
        style_table={'width': '800px', 'margin': '0 auto'},  # Setting the table width
        style_data={
            'whiteSpace': 'normal',  # Text format inside the table
            'height': 'auto',
            'textAlign': 'center',
        },
        style_data_conditional=[
            {  # Colour of even rows
                'if': {'row_index': 'even'},
                'backgroundColor': 'rgb(245, 245, 245)',
            }
        ],
        style_header={  # Header style
            'backgroundColor': 'rgb(240, 250, 249)',
            'fontWeight': 'bold',
            'textAlign': 'center'
        },
        merge_duplicate_headers=True,  # Merging of repeating headers
    )
], style={'padding': '20px', 'backgroundColor': '#ffffff'})

# Run app
if __name__ == '__main__':
    app.run_server(debug=True)